<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Covid_19 Report</title>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <style>
    /* We are adding some padding on document's body to prevent the content to go underneath the header and footer */
        body{
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .fixed-header, .fixed-footer{
            width: 100%;
            position: fixed;
            background: #471531;
            padding: 10px 0;
            color: #fff;
            text-align: center;
        }
        .fixed-header{
            top: 0;
        }
        .fixed-footer{
            bottom: 0;
        }
        .container{
            width: 80%;
            margin: 0 auto; /* Center the div horizontally */
        }
        nav a {
            color: #fff;
            text-decoration: none;
            padding: 7px 25px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="fixed-header">
        <div class="">
            <nav>
                <a href="/"><span style="font-size: 40px;">COVID-19 DASHBOARD</span></a>
            </nav>
        </div>
    </div>
    <div>
        <div class="col-lg-3" style="float: left; max-height: 650px; max-width:400px; overflow: scroll; overflow-x:hidden;">
            <div><h2>Total Infected Count: {{totalCount}}</h2></div>
                <div class="col-lg-12" style="float: left;"></div>
                    <div class="col-lg-4" style="float: left">
                        <form method="post" enctype="multipart/form-data" action="selectCountry">
                              {% csrf_token %}
                              {% for con in countryNames %}
                              <input type="submit" value={{con}} name="countryNames" style="width:100px"><br>

                              {% endfor %}
                        </form>
                    </div>

                    <div class="col-lg-8" style="float: left">
                        <canvas id="myChart" style="width: 250px; height: 4100px;"></canvas>
                    </div>
            </div>
        </div>
        <div class="col-lg-6" style="float: left;">
            <br />
            <br />
            {% if showMap == 'True' %}
            <div id="mapChart" style="height:650px; width: 800px;"></div>
            {% elif showMap == 'False' %}
            <h2 style="text-align: center;">Analysis On {{countryName}}</h2><br />
            <canvas id="lineChart" style="height:450px"></canvas>
            {% endif %}
        </div>
        <div class="col-lg-3" style="float: left;max-width: 300px;  max-height: 650px;overflow: scroll; overflow-x:hidden;">

        </div>
    </div>
</body>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chartOptions = {
                        legend: {
                            display: false
                                },
                        scales: {
                            xAxes: [{
                                barPercentage:1
                                }],
                            yAxes: [
                                    // {barPercentage: 1},
                                    // {gridLines:{drawBorder: false}},
                                    {ticks: {display:false}},
                                    // {ticks: {mirror: true}},
                                    {display: false},

                                    ],
                        elements: {
                            rectangle: {
                            borderSkipped: 'left',
                            }
                        }
                        }
                    };
var chart = new Chart(ctx, {
   // The type of chart we want to create
    type: 'horizontalBar',

    // The data for our dataset
    data: {
        labels: {{countryNames|safe}},
        datasets: [{
            label: 'Latest Infected Counts',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{barPlotVals|safe}}
        }]
    },

    // Configuration options go here
    options: chartOptions
});
</script>
<script>
var data2={{dataForMap|safe}};
Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) {

    // Prevent logarithmic errors in color calculation
    data.forEach(function (p) {
        p.value = (p.value < 1 ? 1 : p.value);
    });

    // Initiate the chart
    Highcharts.mapChart('mapChart', {

        chart: {
            map: 'custom/world'
        },

        title: {
            text: 'Infected Population Around The World'
        },

        legend: {
            title: {
                text: 'Population density per km²',
                style: {
                    color: ( // theme
                        Highcharts.defaultOptions &&
                        Highcharts.defaultOptions.legend &&
                        Highcharts.defaultOptions.legend.title &&
                        Highcharts.defaultOptions.legend.title.style &&
                        Highcharts.defaultOptions.legend.title.style.color
                    ) || 'black'
                }
            }
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        tooltip: {
            backgroundColor: 'none',
            borderWidth: 0,
            shadow: false,
            useHTML: true,
            padding: 0,
            pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
                '</span></span> {point.name}<br>' +
                '<span style="font-size:30px">{point.value}</span>',
            positioner: function () {
                return { x: 0, y: 250 };
            }
        },

        colorAxis: {
            min: 1,
            max: 1000,
            type: 'logarithmic'
        },

        series: [{
            data: data2,
            joinBy: ['iso-a3', 'code3'],
            name: 'Infected Population',
            states: {
                hover: {
                    color: '#a4edba'
                }
            }
        }]
    });
});

</script>
<script>
    var data2={{datasetsForLine|safe}};
    var chartOptions2 = {
            legend: {
                display: true
                    },
                    scales: {
						yAxes: [{
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'left',
							id: 'y-axis-1',
						}, {
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'right',
							id: 'y-axis-2',

							// grid line settings
							gridLines: {
								drawOnChartArea: false, // only want the grid lines for one axis to show up
							},
						}],
					},
        };
    var ctx2 = document.getElementById('lineChart').getContext('2d');
	var myLineChart = new Chart(ctx2, {
        type: 'line',
        data: {labels:{{axisvalues|safe}},datasets:data2,},
        options: chartOptions2
        });
</script>
</html>